{% extends "main/base.html" %}

{% block content %}

{% load static %}
<link href="{% static 'main/profile.css' %}" rel="stylesheet">

<div class="box">
    <h3><span id="tarikh"></span></h3><br>
    <ul class="directory-list">
        {% if lessons|length > 0 %}
        <li class="folder">مطالب آموزشی
            <ul>
                {% for l in lessons %}
                <li>
                    <a href="{{l.lesson.name}}/">{{l.lesson.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        {% endif %}
        {% if quizzes|length > 0 %}
        <li class="folder">تمرین‌ها و آزمون‌ها
            <br>
            <ul>
                {% for q in quizzes %}
                <li>
                    <a href="/quiz/{{collection}}/{{q.quiz.name}}/">{{q.quiz.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        {% endif %}

    </ul>

    {% if prev %}
    <a class="btn btn-primary" style="width:15%;left: 70%;font-size:2.5vmin;bottom: 10px;top:20px;"
       href="../../{{ prev }}/{{ collection }}/">روز قبل</a>
    {% endif %}
    {% if next %}
    <a class="btn btn-primary" style="width:15%;position: relative; right: 70%;top:0px;font-size:2.5vmin;bottom: 10px;"
       href="../../{{ next }}/{{ collection }}/">روز بعد</a>
    {% endif %}
</div>


<script>
  const options = {
    weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'
  };
  const dateString = new Date('{{ tarikh|date:"Y-m-d H:i:s" }}');
  document.getElementById('tarikh').innerText = dateString.toLocaleString('fa-IR', options);

</script>
{% endblock %}