{% extends "main/base.html" %}

{% block content %}

<div class="container">
    {% if is_staff %}
        <a class="btn btn-primary" style="width:15%;left: 70%;font-size:2.5vmin;bottom: 10px;top:20px;" href="/admin/course/course/{{ lesson.lesson.course_id }}/change/">تغییر</a>
    {% endif %}
    <h1>{{ title }}</h1>
    {{ content | safe }}
    {% if prev %}
    <a class="btn btn-primary" href="../{{ prev }}/">صفحه قبل</a>
    {% endif %}
    {% if next %}
    <a class="btn btn-primary" href="../{{ next }}/">صفحه بعد</a>
    {% endif %}
    <div style="height: 1rem;"></div>
    {% include "comment/base.html" %}
</div>

{% endblock %}