{% extends "main/base.html" %}

{% block content %}

<div class="container">
    <h1>{{ quiz.title }}</h1>
    <table>
      <thead>
        <th>شماره</th>
        <th>نام</th>
        <th>استان</th>
        <th>نمره</th>
      </thead>
      <tbody>
        {% for s in students %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="../check/{{ s.user }}/">{{ s.user.get_full_name }}</a></td>
            <td>{{ s.ostan }}</td>
            <td>{{ s.nomre }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}