{% extends "main/base.html" %}

{% block content %}

<div class="container">
    <h1>{{ quiz.title }}</h1>

    <a class="btn btn-secondary" style="left: 70%;font-size:14px;bottom: 30px;top:20px;"
       href="../oj">تصحیح خودکار سایت های برنامه نویسی</a>
  <br>
    <a class="btn btn-secondary" style="left: 70%;font-size:14px;bottom: 30px;top:20px;"
       href="../pickjson">وارد کردن نمرات از Json</a>
  <br>
    <a class="btn btn-secondary" style="left: 70%;font-size:14px;bottom: 30px;top:20px;"
       href="../../../add_cf_friends">اضافه کردن یوزرهای codeforces به لیست</a>
  <br>
    <a class="btn btn-secondary" style="left: 70%;font-size:14px;bottom: 30px;top:20px;"
       href="../autocheck?mode=tashrihi">تصحیح خودکار برگه ها با اعمال نیمی از نمره برای توضیحات</a>
  <br>
    <a class="btn btn-secondary" style="left: 70%;font-size:14px;bottom: 30px;top:20px;"
       href="../autocheck?mode=strict">تصحیح خودکار برگه ها بدون درنظر گرفتن نمره برای توضیحات</a>
  <br>

    <table style="width: 100%; text-align: center;">
      <thead>
        <td>رتبه      </td>
        <td>نام       </td>
        <td>استان     </td>
        <td>نمره      </td>
        <td>شماره     </td>
        <td>کدملی     </td>
      </thead>
      <tbody>
        {% for s in students %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="../check/{{ s.user }}/">{{ s.user.get_full_name }}</a></td>
            <td>{{ s.ostan }}</td>
            <td>{{ s.nomre }}</td>
            <td>{{ s.shomare }}</td>
            <td>{{ s.user.username }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
