{% extends "main/base.html" %}

{% block content %}

<div class="container">
    <div class="card" style="margin-bottom: 20px">
        <div class="card-header">آپلود ویدیو
        </div>
        <div class="card-body">
            <p>
                از این قسمت میتوانید به سادگی ویدیو هارا به سایت منتقل کنید
            </p>
            <div class="row">
                <div class="col-md-12">
                    <form id="inputForm" action="/courses/{{course.name}}/uploadVideo/" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="name" placeholder="نام انگلیسی" class="form-control"
                                           required="" value="{{form_name}}">
                                    <input type="text" name="title" placeholder="تیتر فارسی" class="form-control"
                                           required="" value="{{form_title}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="لینک دانلود ویدیو" name="videoLink" type="url"
                                       required="" value="{{form_url}}">
                            </div>
                            <div class="form-group">
                                {% for tag in form_all_tags %}
                                <input type="checkbox" name="tag" id="tag{{ forloop.counter }}" value="{{tag}}" checked>
                                <label for="tag{{ forloop.counter }}">{{ tag }}</label>
                                <br>
                                {% endfor %}
                            </div>
                            {% if success == True %}
                            <div class="alert" role="alert">
                                {{ success_desc | safe }}
                            </div>
                            {% endif %}
                            {% if error == "login_error" %}
                            <div class="alert alert-danger" role="alert">
                                {{ error_desc }}
                            </div>
                            {% endif %}
                            {% if error == "duplicate" %}
                            <div class="alert alert-danger" role="alert">
                                فردی قبلا با کدملی شما ثبت نام کرده است. اگر این فرد شما نیستید، با ما تماس بگیرید.
                            </div>
                            {% endif %}
                            {% if error == "bad" %}
                            <div class="alert alert-danger" role="alert">
                                اطلاعات شما با واقعیت مطابقت ندارد.
                            </div>
                            {% endif %}
                            <button type="submit" class="btn btn-success btn-block">آپلود</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}