{% extends "main/base.html" %}

{% block content %}

<div class="container">
    <p>
        خوش آمدید
        {{ user.get_full_name }}
    </p>
    <p>
        برای اخبار آزمون، کانال تلگرام @maavaak را دنبال کنید.
    </p>
    <p>
        سوالات خود را از @mavaak بپرسید.
    </p>
    {% if student %}
    {% if student.verified == 0 %}
        <h1>شما پذیرفته نشده اید</h1>
        <p>
            می توانید در آزمون های بعدی مجددا تلاش کنید. برای اطلاعات بیشتر کانال را
            دنبال کنید.
        </p>
    {% endif %}
    {% if student.verified == 1 %}
        <h1>شما پذیرفته شده اید</h1>
        <p>
            از طریق
            <a href="/users/agreement/">این لینک</a>
            می توانید در دوره تابستانه ماواک ثبت نام کنید.
        </p>
    {% endif %}
    {% if student.verified == 2 %}
        <h1>شما پذیرفته شده اید</h1>
        <p>
            اطلاعات شما در انتظار تایید است.
        </p>
    {% endif %}
    {% if student.verified == 3 %}
        <h1>شما پذیرفته شده اید</h1>
        <p>
            اطلاعات شما تایید شده است.
        </p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}