{% extends "main/base.html" %}

{% block content %}

<div class="container">
    <p>
        خوش آمدید
        {{ user.get_full_name }}
    </p>
    <p>
        نام کاربری شما
        {{ user.username }}
        است. به کمک این نام کاربری و رمزی که تعیین کرده اید می توانید برای بار های
        بعدی وارد شوید.
    </p>
    <p>
        حساب کاربری شما
        {% if org.verified %}
        تایید شده است.
        {% else %}
        تایید نشده است. به 09021489650 در پیام رسان تلگرام برای طی کردن مراحل
        تایید مدرسه پیام دهید.
        {% endif %}
    </p>

</div>
{% endblock %}