{% extends "main/base.html" %}

{% block content %}
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'main/profile.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>امتیاز کاربر</title>

    <script>
    var cf_accounts =
    "{% for ac in cf_accounts %}{{ ac.handle }};{% endfor %}";
    fetch(`https://api.allorigins.win/get?url=${encodeURIComponent('http://codeforces.com/api/user.info?handles='+cf_accounts)}`).then(response => {
        if (response.ok) return response.json()
            throw new Error('Network response was not ok.')
    }).then(data=> {
        data = JSON.parse(data.contents);
        {% for ac in cf_accounts %}
            if("//userpic.codeforces.com/no-avatar.jpg"!=data["result"][{{ forloop.counter }}-1]["avatar"]){
                document.getElementById('profileImage').src="https:"+data["result"][{{ forloop.counter }}-1]["titlePhoto"];
            }
        {% endfor %}
    });

    </script>

    <script>
    window.onload = function () {

    var chart = new CanvasJS.Chart("scoreChartContainer", {
    	animationEnabled: true,
        exportEnabled: true,
        theme: "light1", // "light1", "light2", "dark1", "dark2"
        title:{
            text: "امتیازات تمرین‌ها و آزمون‌ها"
        },
        axisY: {
          includeZero: true,minimum: 0,maximum: 100,
        },
        axisX: {
            valueFormatString: "",
            interval: 100000000,
        },
        data: [{
            type: "column",
            //indexLabel: "{y}",
            indexLabelFontColor: "#5A5757",
            indexLabelPlacement: "outside",
            dataPoints: [
                {% for q in qs %}
                    {
                        x: {{ forloop.counter }},
                        y: {{ q.nomre }}*100 / {{ q.maxgrade }} ,
                        label: "{{ q.desc }}"
                    },
                {% endfor %}
            ]
        }]
    });
    chart.render();
    }

    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<noscript>Sorry, your browser does not support JavaScript!</noscript>

<div class="container">
    <noscript>Sorry, your browser does not support JavaScript!</noscript>
    <div class="main-div" style="min-height:20%;">
        <img id="profileImage" class='circular-big-square' style="float:left;width: 230px;height:230px;"
             src="http://uupload.ir/files/ae0p_default.png">
        <div dir='rtl' style="font-size: 20px;">
            <h4 style="margin-top:20px;font-size: 35px;margin-right:20px;text-align:right;color:#000000;">
                {{ student.user.get_full_name }}
            </h4>
            <h4 style="line-height:40px;margin-top:20px;font-size: 20px;margin-top:20px;margin-right:40px;text-align:right;color:#000000;">
                استان: {{ student.ostan }}
                <br>
                پایه:
                {{ dore }}
                <br>
                {% for ac in cf_accounts %}
                <a style="text-decoration: none;" href="https://codeforces.com/usertalk?other={{ac.handle}}" target="_blank">
                    ارسال پیام
                </a>
                {% endfor %}
            </h4>
            <div style="clear: both;">
                رتبه‌بندی‌ها:

            </div>
            {% for g in groups %}
            <div class="card" style="float:right;">
                <a href="/ranking/{{g.name}}/">
                    <img width="100px" height="100px" src="{{g.picture_url}}" alt="Avatar"
                         style="width:100%">
                    <div class="container">
                        <h4 dir='rtl' style="font-size: 15px;">
                            <b>{{ g.title }}</b>
                        </h4>
                        <h4 dir='rtl' style="font-size: 12px;">
                            {{ g.desc }}
                        </h4>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div style="clear: both;"></div>
        {% if self_profile %}
        <a type="button" style="margin-top:10px" class="btn btn-primary btn-lg btn-block" href="/content/">رفتن به صفحه
            مطالب</a>
        {% endif %}
        <br>
        <div id="scoreChartContainer" style="clear: both;margin-top:10px;height: 300px; width: 100%;"></div>
    </div>
</div>
{% endblock %}